.header {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 20px 0;
}

.header .col {
    font-weight: bold;
}

.note {
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.note .title {
    color: cornflowerblue;
    font-weight: 400;
    cursor: pointer;
    width: 40%;
    margin-right: 80px;
}

.note i {
    cursor: pointer;
    font-size: 24px;
}

.note i.bi-star,
.note i.bi-star-fill {
    color: goldenrod;
    margin-right: 50px;
}

.note textarea {
    margin-right: 30px;
    width: 30%;
    height: 80px;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
}

.no-data-cnt {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    height: 200px;
    align-items: center;
    place-content: center;
    color: #ccc;
}

.no-data-cnt .bi-briefcase {
    font-size: 40px;
}
